<!DOCTYPE html>
<html>
  <head>
    <title>ForYoutubers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <header class="border-bottom d-flex flex-column">
      <%= render "layouts/header" %>
    </header>
    <div class="Notification">
     <% flash.each do |key, value| %>
       <%= content_tag :div, value, class: key %>
     <% end %>
    </div>

    <%= yield %>
    <footer class="border-top">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
